env
build
build_test
build_test_integration
conf/*.conf
src/DoxyDocs

.cproject

.project

.idea

**/CMakeFiles
*Makefile
*cmake_install.cmake
*CMakeCache.txt
**/Makefile
**/cmake_install.cmake

*.pyc
*.kdev4
src/.settings/org.eclipse.cdt.codan.core.prefs

*~
*#

*.pdfsync
*.bbl
*.blg
*eps-converted-to.pdf